# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Distribution / packaging
.Python
env/
venv/
build/
dist/
*.egg-info/

# Pytest
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDE settings (VSCode, PyCharm, etc.)
.vscode/
.idea/

# Logs and temporary files
*.log
*.tmp
*.swp
*.swo
.DS_Store
